{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{% if object %}Edit Mailing{% else %}Create Mailing{% endif %}</h2>

    <form method="post">
        {% csrf_token %}

        <div class="card">
            <div class="card-body">
                {{ form.as_p }}
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                {% if object %}Сохранить {% else %}Создать{% endif %}рассылку
            </button>
            <a href="{% url 'mailing:mailing_list' %}" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}